@import "tailwindcss";


@theme {
    --font-poppins: Poppins, sans-serif;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: #000000; /* Cambia esto al color deseado */
  font-size: 20px; /* Ajusta el tamaño si lo necesitas */
}

.ant-carousel .slick-dots li button {
    background-color: #0f0f0f; /* Cambia al color deseado */
  }
  
.ant-carousel .slick-dots li.slick-active button {
    background-color: #000000; /* Color cuando el punto está activo */
}

.ant-drawer-body {
  padding: 0px;
}


::-webkit-scrollbar {
  width: 6px; 
  height: 8px; 
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  


